<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="led_link">
  <link
    name="led_link">
    <inertial>
      <origin
        xyz="1.21787819461004E-05 0.100506072293884 -0.0657375008490545"
        rpy="0 0 0" />
      <mass
        value="0.371972272144732" />
      <inertia
        ixx="0.000365303407927441"
        ixy="-3.7389349002342E-06"
        ixz="-2.15485729111802E-07"
        iyy="0.000348595669290982"
        iyz="-2.48733343135974E-06"
        izz="0.000454214073639837" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://led_link/meshes/led_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://led_link/meshes/led_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>