<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="true" />

  <!-- load lxfr URDF -->
  <include file="$(find lxfr_description)/launch/upload_lxfr_urdf.launch" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lxfr_description)/rviz/lxfr_description.rviz" required="true" />
</launch>
