<?xml version="1.0" encoding="utf-8"?>
<launch>
   <!-- run rviz-->
    <arg name="rviz"                default="true" />
    <!--     Name of the task file which defines the mpc problem settings-->

    <arg name="mpc_task_file"       default="task.info"/>
    <!-- Set rviz configuration -->
    <arg name="rvizconfig"          default="$(find perceptive_mpc)/config/demo.rviz"/>

    <arg name="tsdf_voxel_size" value="0.05"/>

    <arg name="tsdf_voxels_per_side" value="16"/>
    <!-- Load robot description -->                                               
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mue_description)/urdf/mue.urdf.xacro'"/>
    <include file="$(find realsense2_camera)/launch/demo_pointcloud.launch" />

    <node name="robot_state_publisher2" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="100"/>
    </node>
    <node name="mue_receive_and_control" pkg="wholebody_control" type="mue_receive_and_control.py" output="screen" >
        <param name="ur_ip"           value="192.168.100.2"/>
        <param name="ur_control_activate"   value="false"/>
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" if="$(arg rviz)"/>
     <node pkg="perceptive_mpc" name="kinematic_simulation" type="perceptive_mpc_kinematic_simulation" output="screen"> 
      <param name="mpc_task_file"           value="$(arg mpc_task_file)"/>
      <rosparam file="$(find perceptive_mpc)/config/kinematic_simulation_parameters.yaml"/>
      <rosparam file="$(find perceptive_mpc)/config/voxblox.yaml"/>
      <param name="info_rate" value="3.0" />
      <remap from="/kinematic_simulation/esdf_map_in" to="esdf_map" />
        <param name="tsdf_voxel_size" value="$(arg tsdf_voxel_size)" />
        <param name="tsdf_voxels_per_side" value="$(arg tsdf_voxels_per_side)"/>
        <param name="world_frame" value="odom" />
        <param name="update_mesh_every_n_sec" value="0.0" />
        <param name="publish_map_every_n_sec" value="0.0"/>
        <param name="publish_esdf_map" value="false" />
        <param name="publish_slices" value="false" />
        <param name="publish_pointclouds" value="false" />
        <param name="use_tf_transforms" value="false" />
        <param name="isPureSimulation" value ="false"/>
    </node> 
    <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="" clear_params="true">
        <remap from="pointcloud" to="/camera/depth/color/points"/>  
        <remap from="voxblox_node/esdf_map_out" to="esdf_map" />
        <param name="publish_esdf_map" value="true" />
        <param name="publish_slices" value="true" />
        <param name="publish_pointclouds" value="true" />
        <param name="use_tf_transforms" value="true" />
        <remap from="transform" to="/perceptive_mpc/odomToCamera" />
        <param name="verbose" value="false" />
        <param name="slice_level" value="0.8" />
        <param name="clear_sphere_for_planning" value="true" />
        <!-- <param name="clear_sphere_radius" value="0.5" /> -->
        <!-- <param name="occupied_sphere_radius" value="3" /> -->
        <!-- <param name="clear_sphere_for_planning" value="true" /> -->
        <param name="method" value="fast" />
        <param name="world_frame" value="odom" />
        <param name="pointcloud_queue_size" value="3" />
        <param name="tsdf_voxel_size" value="$(arg tsdf_voxel_size)" />
        <param name="tsdf_voxels_per_side" value="$(arg tsdf_voxels_per_side)"/>
        <param name="publish_map_every_n_sec" value="5"/>
        <param name="update_mesh_every_n_sec" value="5" />
        <rosparam file="$(find perceptive_mpc)/config/voxblox.yaml"/>
    </node>
    <node name="interactive_pose_node" pkg="perceptive_mpc" type="interactive_marker.py" output="screen"/>
    <include file="$(find robot_body_filter)/examples/body_filter_node.launch" />
    
    <!-- only used when the mobile base is broken -->
    <node pkg="tf" type="static_transform_publisher" name="mobile_base_tf_publisher" args="0 0 0 0 0 0 1 odom base_link 100" />
</launch>